- owner_info = current_organization.owner_info

#dashboard_subscriptions_totals.widget
  %ul
    %li.left-col
      %h5
        .sub_count
          %a{:href=>"a"}= number_with_delimiter(total_active_subscriptions)
      %span active subscriptions
    %li.center-col
      %h5
        .sub_count
          %a{:href=>"a"}= number_with_delimiter(total_expiring_subscriptions)
      %span subscriptions expiring in next 120 days
    %li.right-col
      %h5
        .sub_count
          %a{:href=>"a"}= number_with_delimiter(total_expired_subscriptions)
      %span recently expired subscriptions
